<div
  class="relative bg-white rounded-lg flex items-center justify-center text-center px-4 py-4"
  [style.background-color]="category().color + '20'"
  [class.edit-mode]="isEditMode() || editMode()"
  (touchstart)="onTouchStart($event)"
  (touchmove)="onTouchMove()"
  (touchend)="onTouchEnd()"
  [routerLink]="['/expense', expenseId(), 'category', category().id, 'items']"
>
  @if (isEditMode() || editMode()) {

  <button
    mat-icon-button
    color="danger"
    class="absolute! w-8! h-8! -top-3 -right-3 bg-red-500! rounded-full flex! items-center justify-center text-white! hover:bg-red-600! transition-colors z-20!"
    (click)="onDelete(); $event.stopPropagation()"
    [attr.aria-label]="'Delete Category'"
  >
    <mat-icon [class]="'text-lg!'">close</mat-icon>
  </button>
  }
  <div class="card-content">
    <mat-icon [style.color]="category().color">{{ category().icon }}</mat-icon>
    <h3>{{ category().title }}</h3>
    <p>{{ category().description }}</p>
    <div class="card-info">
      <span class="text-center">{{ formatCurrency(totalCost()) }}</span>
      @if (dateRange()) {
      <div class="info-item">
        <span class="label">Range:</span>
        <span class="value"
          >{{ formatDate(dateRange()!.min) }} - {{ formatDate(dateRange()!.max) }}</span
        >
      </div>
      }
    </div>
    @if (isEditMode() || editMode()) {
    <button
      mat-mini-fab
      class="flex! items-center! justify-center! shadow-none! bg-white/50! flex content-center text-sm! md:text-base!"
      [style.color]="category().color"
      (click)="onEdit(); $event.stopPropagation()"
      [attr.aria-label]="'Edit Category'"
    >
      <mat-icon class="text-base! w-5! h-5! mb-0!">edit</mat-icon>
    </button>
    }
  </div>
</div>
